*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #935df0;
    color: #fff;
    font-size: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 100px 0px;
    padding: 100px;
    text-align: center;
}
.menu-link{
    text-decoration: none;
    font-size: 48px;
    /* color: #fff; */
    color: black;
    transition: 0.7s;
    text-transform: uppercase;
}
.menu-link:hover{
    text-underline-offset: 12px;
    text-decoration:underline 3px solid black;
}